@import "../../utilities/variables.styles";

.sign-in {
    width: 325px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .alert {
        color: $yellow;
        margin-bottom: 45px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1100px) {
    .sign-in{
        width: 80%;

        .buttons  {
            
            flex-direction: column;
            align-items: center;
            min-height: 140px;
            padding-bottom: 50px;
    
            border-bottom: 1px solid $current-line;
        }
    }
    
} 