@import '../../utilities/variables.styles';

.password-info {
    width: 30px;
    text-align: right;
    flex-shrink: 0;

    position: relative;

    .info-toggler {
        cursor: pointer;
    }

    .info-container {
        position: absolute;
        width: 220px;
        bottom: 35px;
        right: 10px;
        padding: 20px 20px ;

        text-align: justify;
        line-height: 1.5;
        font-weight: 300;

        border: 1px solid $red;
        border-radius: 4px;
        background-color: $background;
        color: $foreground;

        ul {
            padding-left: 20px;
            list-style: initial;

            li {
                margin-top: 10px;
            }
        }
    }
}